@charset "utf-8";
/* CSS Document */
.about_de_r{display: none}
.about_de_l{margin: 0 auto;float: none;}
.video_de_l{width: 95%;}
.bql_nav{left: 256px;}
.market_main .max_w1388{max-width: 1630px;}

.about_de .back_none .news_video_main,.about_de div.back_none .news_pic_main{margin: 0 auto;width: 96%;}
div.bql_download_box_ul ul.box_uls{width: 98.6%;margin: 0 auto;}
div.news_de_bottm_nav{background: #fff;width: 95.8%;}
.video_de_l{width: 94%;}