# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.75

RewriteEngine on

RewriteRule ^index.html$ /index.php [L]
RewriteRule ^alone.html$ /alone.php [L]
RewriteRule ^PicNews.html$ /picnews.php [L]
RewriteRule ^PicContent([0-9]+).html /picnews.php?mode=VIEW&image_id=$1 [L]
RewriteRule ^News.html$ /news.php [L]
RewriteRule ^News_category([0-9]+).html$ /newslist.php?category_id=$1 [L]
RewriteRule ^NewsContent([0-9]+).html /newslist.php?mode=VIEW&news_id=$1 [L]
RewriteRule ^Video.html$ /video.php [L]
RewriteRule ^VideoList.html$ /videolist.php [L]
RewriteRule ^Video_category([0-9]+).html$ /video.php?category_id=$1 [L]
RewriteRule ^Support.html$ /support.php [L]
RewriteRule ^Service.html$ /service.php [L]
RewriteRule ^ServiceList.html$ /servicelist.php [L]
RewriteRule ^Service_category([0-9]+).html$ /servicelist.php?category_id=$1 [L]
RewriteRule ^ServiceContent([0-9]+).html /servicelist.php?mode=VIEW&service_id=$1 [L]
RewriteRule ^Download.html$ /download.php [L]
RewriteRule ^JobList.html$ /joblist.php
RewriteRule ^JobContent([0-9]+).html /joblist.php?mode=VIEW&job_id=$1 [L]
RewriteRule ^Campus.html$ /campus.php [L]
RewriteRule ^About.html$ /about.php [L]
RewriteRule ^Introduction.html$ /introduction.php [L]
RewriteRule ^CEO_Speech.html$ /ceospeech.php [L]
RewriteRule ^Organization.html$ /organization.php [L]
RewriteRule ^Image.html$ /image.php [L]
RewriteRule ^Culture.html$ /culture.php [L]
RewriteRule ^Certification.html$ /certification.php [L]
RewriteRule ^Law.html$ /law.php [L]
RewriteRule ^Map.html$ /map.php [L]
RewriteRule ^H5list.html$ /H5list.php [L]
RewriteRule ^Link([0-9]+).html$ /link.php?tid=$1 [L]
RewriteRule ^ContactUs.html$ /contact.php [L]
RewriteRule ^Message.html$ /message.php [L]
RewriteRule ^Search.html$ /search.php [L]
RewriteRule ^History.html$ /history.php [L]
RewriteRule ^Security.html$ /security.php [L]

RewriteRule ^IntroList.html$ /introlist.php [L]
RewriteRule ^PolicyList.html$ /policylist.php [L]
RewriteRule ^CustomerList.html$ /customerlist.php [L]
RewriteRule ^SoftDownload.html$ /softdownload.php [L]
RewriteRule ^SoftDetail([0-9]+).html /softdownload.php?mode=VIEW&soft_id=$1 [L]
RewriteRule ^Training.html /training.php
RewriteRule ^TrainContent([0-9]+).html /trainlist.php?mode=IMDEX&tid=$1 [L]
RewriteRule ^ExperService.html$ /ExperService.php [L]
RewriteRule ^Market.html$ /market.php [L]
RewriteRule ^Market_category([0-9]+).html$ /marketing_list.php?category_id=$1 [L]
RewriteRule ^MarketContent([0-9]+).html /marketing_list.php?mode=VIEW&market_id=$1 [L]
RewriteRule ^ZhiboContent([0-9]+).html /marketing_list.php?mode=zhibo&market_id=$1 [L]
RewriteRule ^Develop.html$ /develop.php [L]
RewriteRule ^Notice.html$ /notice.php [L]
RewriteRule ^Notice([0-9]+).html$ /notice.php?pubtime=$1 [L]
RewriteRule ^NoticeContent([0-9]+).html /notice.php?mode=VIEW&notice_id=$1 [L]
RewriteRule ^Report.html$ /report.php [L]
RewriteRule ^ReportContent([0-9]+).html /report.php?mode=VIEW&report_id=$1 [L]
RewriteRule ^Way.html$ /way.php [L]
RewriteRule ^Hardware.html$ /hardware.php [L]
RewriteRule ^NewMedia.html$ /newmedia.php [L]
RewriteRule ^TechContent([0-9]+).html /tech.php?mode=IMDEX&tech_id=$1 [L]
RewriteRule ^Tech_category([0-9]+).html$ /tech.php?mode=IMDEX&tech_id=6&category_id=$1 [L]
RewriteRule ^Activities.html$ /activities.php [L]


ErrorDocument 404 /error.php